{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://www.linkedin.com/in/matheus-teixeira-885752118/" target=”_blank” >
            <img src="{% static 'assets/ícones/1x/linkedin.png' %}" alt="ícone linkedin">
        </a>
        <!--a href="https://www.instagram.com/aluraonline/" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
        </a-->
    </div>
    <p class="rodape__texto">Desenvolvido por Matheus Teixeira em Projeto da Alura</p>
</footer>